body {
    margin: 0;
    background-color: rgb(27, 27, 27);
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    font-size: 1vw;
    padding-left: 1vw;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 5vh;
    background-color: rgb(37, 57, 82);
    z-index: 1;
}

#inputDiv {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 5vw;
}

#search {
    width: 10vw;
    height: 50%;
    border: none;
    border-bottom: 1px solid wheat;
    background-color: rgb(37, 57, 82);
}

#search::placeholder {
    font-size: 0.9vw;
}

#searchIcon {
    height: 100%;

}

#btn {
    width: 3vw;
    height: 40%;
    border: none;
    margin-left: 5px;
    background-color: rgb(37, 57, 82);
}

#btn:hover {
    cursor: pointer;
}

.singleBar {
    width: 10vw;
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    border-left: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.singleBar:hover {
    cursor: pointer;
    text-decoration: underline;
}

#header {
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: rgb(27, 27, 27);
    background-position: center;
    background-size: cover;
}

h1 {
    display: flex;
    color: white;
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 15vw;
    position: relative;
    margin-top: 50vh;
    margin-left: 70vw;
}

#headerVid {
    width: 100vw;
    height: 100%;
}

.div1 {
    width: 100vw;
    height: 80vh;
    background-color: rgb(27, 27, 27);
    margin-top: 18vh;
    /* padding-left: 8vw; */
    padding-right: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.coolBTN {
    width: 160px;
    height: 60px;
    font-size: 170%;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    border: 1px solid black;
    transition: ease-in-out 300ms;
}

.coolBTN:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    cursor: pointer;
}

#scnd {
    flex-direction: row-reverse;
    margin-top: 15vh;
    height: 90vh;
}

.midSectionImg {
    width: 40%;
    margin-right: 3vw;
}

.midSectionImg2 {
    width: 40%;
    margin-right: 3vw;
}

.midSectionP {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    color: rgb(255, 255, 255);
}

.midSectionP2 {
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    color: rgb(255, 255, 255);
    width: 18vw;
}

.smallP {
    font-size: 20px;
    font-family: cursive;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
}

.largeP {
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    margin-top: 10px;
}

#div3 {
    width: 100vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    ;
    justify-content: center;
    align-items: center;
}

.productDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 20%;
    padding: 1%;
    margin: 3%;
    border: 3px solid rgb(179, 177, 177);
    border-radius: 10px;
    transition: ease-in-out 300ms;
}

.freeShipping {
    width: fit-content;
    animation-name: freeShipping;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: alternate-reverse;
    transition: ease;
    position: absolute;
    left: 15px;
}

@keyframes freeShipping {
    0% {
        width: 100%;
    }

    50% {
        width: 120%;
    }

    100% {
        width: 100%;
    }
}

.productDiv:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.productText:hover {
    text-decoration: underline;
}

#buyNow {
    width: 120%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(248, 239, 227);
    color: rgb(116, 23, 23);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition: ease-in-out 100ms;
}

#buyNow:hover {
    background-color: rgb(116, 23, 23);
    color: rgb(248, 239, 227);
    cursor: pointer;
}

#colors2 {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#black {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 5px;
    margin-right: 5px;
}


#yellow {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 5px;
    margin-right: 5px;
}

#green {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 5px;
    margin-right: 5px;
}

#grey {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 5px;
    margin-right: 5px;
}

#navy {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 5px;
    margin-right: 5px;
}

#footer {
    width: 100vw;
    height: 50vh;
}

#upperF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    padding-top: 5vh;
    padding-bottom: 50px;
    background-color: white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25vw;
}

#lowerF {
    width: 100vw;
    height: 30vh;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: rgb(170, 170, 170);
}

.terms {
    width: 15vw;
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px solid black;
    padding-left: 2vw;
}

.terms p:hover {
    text-decoration: underline;
    cursor: pointer;
}

#social {
    background-color: rgb(26, 26, 26);
    height: 10vh;
    width: 100vw;
    padding-left: 6.5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icon {
    margin: 10px;
    height: 50%;
}

.icon:hover {
    cursor: pointer;
}

@media screen and (max-width:768px) {

    #singleBar {
        margin-top: 2vw;
        margin-bottom: 2vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        padding-left: 0vw;
        margin-top: 0vh;
    }

    #scnd {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .midSectionP2 {
        margin-bottom: 5vh;
        align-items: center;

    }

    .coolBTN {
        width: 40vw;
        font-size: 120%;
    }

    #largeP {
        text-align: center;
    }

    #div3 {
        flex-direction: column;
        height: fit-content;
        padding-top: 8vh;
    }

    .productDiv {
        width: 55vw;
    }

    #footer {
        height: fit-content;
    }

    #lowerF {
        font-size: 0.8rem;
    }

    .info {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    #social {
        justify-content: center;
    }

    .icon {
        height: 35%;
    }

    /* product page css under */

    #mid {
        flex-direction: column;
        margin-top: 10vh;
        padding-left: 10vw;
        height: 60vh;
    }

    #productImg {
        width: 70vw;
    }

    #productText {
        width: 80vw;
    }

    #black {
        width: 2.5vw;
        height: 2.5vw;
    }


    #yellow {
        width: 2.5vw;
        height: 2.5vw;
    }

    #green {
        width: 2.5vw;
        height: 2.5vw;
    }

    #grey {
        width: 2.5vw;
        height: 2.5vw;
    }

    #navy {
        width: 2.5vw;
        height: 2.5vw;
    }

    #homeBTN {
        width: 25vw;
    }

}

#mid {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 15vh;

}

#productImg {
    margin: 20px;
    /* width: 40vw; */
    border: 1px solid rgb(167, 166, 166);
    border-radius: 5px;
    justify-content: center;
}

#productText {
    margin-left: 20px;
    /* width: 35vw; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

#prices {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

#colors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 4vh;
}

.color {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: 2px solid lightgray;
    transition: ease-in-out 200ms;
}

.color:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#homeBTN {
    border-radius: 10px;
    width: 15vw;
    height: 6vw;
    font-size: 3vh;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(160, 25, 13);
    color: white;
    margin-top: 10vh;
    transition: ease-in-out 200ms;
}

#homeBTN:hover {
    cursor: pointer;
    background-color: blanchedalmond;
    color: rgb(160, 25, 13);
}